body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: LightGray;
}

/** Navigation Section**/
.navigation {
height: 80px;
background-color: #fff;
}

.content {
width: 700px;
margin: 0 auto;
height: 70px;
padding-left: 150px;
padding-right: 150px;
}

.navigation img {
  width: 30px;
  float: left;
  padding-top: 15px;
}

.navlinks ul {
  padding: 0;
  margin: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}
.navlinks li {
  display: inline;
  float: right;
  margin-top: 34px;
  margin-bottom: 29px;
}

.navlinks li a {
text-decoration: none;
padding-left: 15px;
padding-right: 15px;
}

.navlinks a {
  font-family: 'Roboto', sans-serif;
  font-size: .1 em;
  color: DarkGray;
}

.navlinks a:hover {
  color: #000;
  font-size: .1  em;
  font-family:  'Roboto Condensed', sans-serif;
}

.active a {
  color: #000;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

/**Introduction**/
.introduction {
  background-image: url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
  background-position: 50% 100%;
  background-repeat:no-repeat;
  background-size:cover;
  height:45.938rem;
}

 .introduction-content {
  width: 500px;
  margin: 0 auto;
  padding: 80px;
}


h1 {
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4em;
}

h3 {
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  font-family:'Open Sans Condensed', sans-serif;
  font-weight: 200;
  line-height: .001%;
}

.big-button {
  padding-left: 170px;
  padding-top: 30px;
}

button {
  background-color:#F15A29;
  border-color:#F15A29;
  border-radius:4px;
  border-style:none;
  color:white;
  font-size:1.125rem;
  padding: 1rem 1.5rem;
  text-shadow:none;
  width:9.688rem;
}

button:hover {
  background-color: #D9400e;
  cursor: pointer;
  border-color: #cf3d0e;
}
